* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.layout {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #777;
  padding: 100px;
  font-size: 50px
}

body {
  background: #f1f1f1;
}